$spacer: 50px !default;
$spacers: () !default;
$spacers: map-merge(
  (
    0: 0,
    1: 5px,
    2: 15px,
    3: ($spacer / 2),
    4: $spacer,
    5: ($spacer * 2),
  ),
  $spacers
);

$grid-gutter-width: 80px !default;

$primary:       #dc3545 !default;
$info:     		  #22b5cb !default;
$success:     	#9bcb50 !default;
$light:         #c5c5c5 !default;
$dark:          #636363 !default;
$white:         #ffffff !default;

$font-family-base: 'Montserrat', sans-serif !default;

$title-base-size: 35px;

$btn-padding-y:               10px !default;
$btn-padding-x:               20px !default;
$btn-box-shadow:              none !default;
$btn-border-radius:           50px !default;

$input-padding-y:                       10px !default;
$input-padding-x:                       15px !default;
$input-bg:                              transparent !default;
$input-color:                           $white !default;
$input-border-color:                    $white !default;
$input-box-shadow:                      none !default;
$input-focus-box-shadow:                none !default;
$input-border-radius:                   0 !default;
$input-focus-bg:                        transparent !default;
$input-focus-border-color:              rgba($white, .6) !default;
$input-placeholder-color:               $white !default;
$input-height:                          auto !default;
$form-group-margin-bottom:              40px !default;